<p id="notice"><%= notice %></p>

<h1><%= @content.title %></h1>
<h2><%= @content.slug %></h2>

<p>
  <strong>Domain:</strong>
  <%= @content.domain.subdomain %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>
