<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @content.domain %>
</p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @content.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
