<p id="notice"><%= notice %></p>

<h1><%= @domain.subdomain.upcase %></h1>
<h2><%= @domain.title %></h2>

<div>
  <% if @domain.has_page_domain? %>
    <%= @domain.description %>
  <% else %>
    <ul>
      <% @domain.contents.each do |content| %>
        <li><%= link_to content.title, content_path(content) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
